<h1 class="title">
  Search for a Drink
</h1>
<div
  data-controller="drinks-search"
  data-drinks-search-url="<%= search_drinks_url(partial: 'drinks/search_list') %>"
>
  <div class="field">
    <div class="control has-icons-left">
      <input
        class="input is-large"
        type="text"
        placeholder="Search Here"
        data-target="drinks-search.searchText"
        data-action="keyup->drinks-search#search"
        autocomplete="off"
      >
      <span class="icon is-medium is-left">
        <i class="fas fa-search"></i>
      </span>
    </div>
  </div>
  <div class="content" data-target="drinks-search.content"></div>
<div>
