<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @drink_category.name %>
</p>

<%= link_to 'Edit', edit_drink_category_path(@drink_category) %> |
<%= link_to 'Back', drink_categories_path %>
