<div
  class="field"
  data-controller="autocomplete"
  data-autocomplete-search-url="<%= search_producers_path %>"
  data-autocomplete-save-key="selectedProducerId"
>
  <div class="control">
    <label class="label is-large">What <%= @category.producer_title %>?</label>
    <input
      class="input is-large"
      name="producer"
      placeholder="<%= @category.producer_title %>"
      data-target="autocomplete.input"
      data-action="keyup->autocomplete#search"
      autocomplete="off"
    />
  </div>
  <div
    class="dropdown"
    data-target="autocomplete.dropdown"
  >
    <div class="dropdown-menu" role="menu">
      <div class="dropdown-content">
        <div class="buttons dropdown-item" data-target="autocomplete.content"></div>
      </div>
    </div>
  </div>
</div>
<div class="field">
  <div class="control">
    <label class="label is-large">What's it called?</label>
    <input
      class="input is-large"
      name="drink"
      placeholder="Drink"
      autocomplete="off"
    /> 
  </div>
</div>