<div class="field">
  <div class="control">
    <label class="label is-large">What year?</label>
    <input
      class="input is-large"
      name="drink[year]"
      placeholder="2016"
      autocomplete="off"
    /> 
  </div>
</div>