<div class="hero-body">
  <div class="container has-text-centered">
      <div class="columns is-vcentered">
          <div class="column is-5">
              <figure class="image is-4by3">
                <%= image_tag 'buck-big.jpeg' %> 
              </figure>
          </div>
          <div class="column is-6 is-offset-1">
              <h1 class="title is-2">
                Track Your Wine, Beer and Spirits
              </h1>
              <h2 class="subtitle is-4">
                Remember what you like, stop buying what you don't.
              </h2>
              <br>
              <p class="has-text-centered">
                <%= link_to 'Sign Up Now', new_user_session_url, class: 'button is-medium is-info is-outlined' %>
              </p>
          </div>
      </div>
  </div>
</div>