<div class="hero-body">
  <div class="container has-text-centered">
      <div class="columns is-vcentered">
          <div class="column is-5">
              <figure class="image is-4by3">
                <%= image_tag 'buck-big.jpeg' %> 
              </figure>
          </div>
          <div class="column is-6 is-offset-1">
              <h1 class="title is-2">
                Track Your Wine, Beer and Spirits
              </h1>
              <h2 class="subtitle is-4">
                Remember what you like, stop buying what you don't.
              </h2>
              <br>
              <p class="has-text-centered">
                <%= link_to 'Sign Up Now', new_user_session_url, class: 'button is-medium is-info is-outlined' %>
              </p>
          </div>
      </div>
  </div>
</div>
<div class="columns is-4 is-8-mobile is-variable home-body">
  <div class="column">
    <div class="has-text-centered">
      <div class="icon-box">
        <i class="fas fa-5x fa-search is-centered has-text-grey"></i>
      </div>
      <p class="is-size-5">Quickly search our database for any drink by name or producer.
      If we don't have it, you can easily add it.</p>
    </div>
  </div>
  <div class="column">
    <div class="has-text-centered">
      <div class="icon-box">
        <i class="fas fa-5x fa-thumbs-up is-centered has-text-primary"></i>
        <i data-fa-transform="flip-h" class="fas fa-5x fa-thumbs-down is-centered has-text-danger"></i>
      </div>
      <p class="is-size-5">We'll tell you if you've had it before, how many times,
      and if you liked it. You can see what <span class="has-text-danger has-text-weight-bold">friends</span> think... if you want.</p>
      <p class="is-size-5 has-text-weight-bold">No 5 star rating system based on the opinions of thousands of snobs.</p>
    </div>
  </div>
  <div class="column">
    <div class="has-text-centered">
      <div class="icon-box">
        <i class="fas fa-5x fa-edit is-centered has-text-info"></i>
        <i class="fas fa-5x fa-bell is-centered has-text-info"></i>
      </div>
      <p class="is-size-5">Save what you're drinking and what you think of it. 
      We'll even send you a reminder if you don't know or aren't sure.</p>
    </div>
  </div>
</div>