<%= form_with model: @consumed_drink do |form| %>
  <div class="field">
    <label class="label is-large">How Much Did You Drink?</label>
    <div class="control">
      <input name="consumed_drink[amount_consumed]" class="input is-large" type="text" placeholder="Amount">
    </div>
  </div>
  <div class="field is-grouped">
    <div class="control">
      <button class="button is-primary">Done</button>
    </div>
    <div class="control">
      <button class="button is-dark">Next</button>
    </div>
  </div>
<% end %>