<h1 class="title">Your Drink History</h1>
<% @consumed_drinks.each do |consumed_drink| %>
  <div class="card consumed-drink-card">
    <header class="card-header">
      <p class="card-header-title">
        <%= consumed_drink.drink.name %>
      </p>
    </header>
    <div class="card-content">
      <p><%= consumed_drink.drink.producer.name %></p>
    </div>
    <footer class="card-footer">
      <a href="#" class="card-footer-item">Edit</a>
      <a href="#" class="card-footer-item">Delete</a>
    </footer>
  </div>
<% end %>