<% @producers.each do |producer| %>
    <button
      class="button is-info"
      value="<%= producer.id %>"
      data-action="click->autocomplete#selected"
    ><%= producer.name %></button>
<% end %>